<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- robofox macro -->
  <xacro:macro name="robofox"
    params="
    arm_prefix:='robofox' 
    arm_type:='robofox_61814v3'
    connected_to:='' 
    *origin
    physical_params_file
    joint_limits_file"
  >
    <xacro:property name="physical_params"
      value="${physical_params_file}" />
    <xacro:property name="config_physical_parameters"
      value="${xacro.load_yaml(physical_params)}" />
    <xacro:property name="sec_inertia_parameters"
      value="${config_physical_parameters['inertial_parameters']}" />
    
    <xacro:property name="joint_limits"
      value="${joint_limits_file}"/>
    <xacro:property name="config_joint_limits"
      value="${xacro.load_yaml(joint_limits)}" />
    <xacro:property name="sec_limits"
      value="${config_joint_limits['joint_limits']}"/>

    <!-- INERTIA PARAMETERS -->
    <!-- mass -->
    <xacro:property name="base_link_mass" value="${sec_inertia_parameters['base_link']['mass']}"
      scope="parent" />
    <xacro:property name="link1_mass" value="${sec_inertia_parameters['link1']['mass']}"
      scope="parent" />
    <xacro:property name="link2_mass" value="${sec_inertia_parameters['link2']['mass']}"
      scope="parent" />
    <xacro:property name="link3_mass" value="${sec_inertia_parameters['link3']['mass']}"
      scope="parent" />
    <xacro:property name="link4_mass" value="${sec_inertia_parameters['link4']['mass']}"
      scope="parent" />
    <xacro:property name="link5_mass" value="${sec_inertia_parameters['link5']['mass']}"
      scope="parent" />
    <xacro:property name="link6_mass" value="${sec_inertia_parameters['link6']['mass']}"
      scope="parent" />

    <!-- center of mass -->
    <xacro:property name="base_link_mass_trans"
      value="${sec_inertia_parameters['base_link']['center_of_mass']['translation']}"
      scope="parent" />
    <xacro:property name="link1_mass_trans"
      value="${sec_inertia_parameters['link1']['center_of_mass']['translation']}"
      scope="parent" />
    <xacro:property name="link2_mass_trans"
      value="${sec_inertia_parameters['link2']['center_of_mass']['translation']}"
      scope="parent" />
    <xacro:property name="link3_mass_trans"
      value="${sec_inertia_parameters['link3']['center_of_mass']['translation']}"
      scope="parent" />
    <xacro:property name="link4_mass_trans"
      value="${sec_inertia_parameters['link4']['center_of_mass']['translation']}"
      scope="parent" />
    <xacro:property name="link5_mass_trans"
      value="${sec_inertia_parameters['link5']['center_of_mass']['translation']}"
      scope="parent" />
    <xacro:property name="link6_mass_trans"
      value="${sec_inertia_parameters['link6']['center_of_mass']['translation']}"
      scope="parent" />

    <xacro:property name="base_link_mass_rot"
      value="${sec_inertia_parameters['base_link']['center_of_mass']['rotation']}"
      scope="parent" />
    <xacro:property name="link1_mass_rot"
      value="${sec_inertia_parameters['link1']['center_of_mass']['rotation']}"
      scope="parent" />
    <xacro:property name="link2_mass_rot"
      value="${sec_inertia_parameters['link2']['center_of_mass']['rotation']}"
      scope="parent" />
    <xacro:property name="link3_mass_rot"
      value="${sec_inertia_parameters['link3']['center_of_mass']['rotation']}"
      scope="parent" />
    <xacro:property name="link4_mass_rot"
      value="${sec_inertia_parameters['link4']['center_of_mass']['rotation']}"
      scope="parent" />
    <xacro:property name="link5_mass_rot"
      value="${sec_inertia_parameters['link5']['center_of_mass']['rotation']}"
      scope="parent" />
    <xacro:property name="link6_mass_rot"
      value="${sec_inertia_parameters['link6']['center_of_mass']['rotation']}"
      scope="parent" />

    <!-- center of mass -->
    <xacro:property name="base_link_inertial"
      value="${sec_inertia_parameters['base_link']['inertial']}"
      scope="parent" />
    <xacro:property name="link1_inertial" value="${sec_inertia_parameters['link1']['inertial']}"
      scope="parent" />
    <xacro:property name="link2_inertial" value="${sec_inertia_parameters['link2']['inertial']}"
      scope="parent" />
    <xacro:property name="link3_inertial" value="${sec_inertia_parameters['link3']['inertial']}"
      scope="parent" />
    <xacro:property name="link4_inertial" value="${sec_inertia_parameters['link4']['inertial']}"
      scope="parent" />
    <xacro:property name="link5_inertial" value="${sec_inertia_parameters['link5']['inertial']}"
      scope="parent" />
    <xacro:property name="link6_inertial" value="${sec_inertia_parameters['link6']['inertial']}"
      scope="parent" />

    <!-- virtual joint -->
    <xacro:unless value="${not connected_to}">
      <joint name="world" type="fixed">
        <parent link="${connected_to}" />
        <child link="${arm_prefix}_base_link" />
        <xacro:insert_block name="origin" />
      </joint>
    </xacro:unless>

    <!-- chain -->
    <link
      name="${arm_prefix}_base_link">
      <inertial>
        <origin
          xyz="${base_link_mass_trans['x']} ${base_link_mass_trans['y']} ${base_link_mass_trans['z']}"
          rpy="${base_link_mass_rot['r']} ${base_link_mass_rot['p']} ${base_link_mass_rot['y']}" />
        <mass value="${base_link_mass}" />
        <inertia
          ixx="${base_link_inertial['ixx']}"
          ixy="${base_link_inertial['ixy']}"
          ixz="${base_link_inertial['ixz']}"
          iyy="${base_link_inertial['iyy']}"
          iyz="${base_link_inertial['iyz']}"
          izz="${base_link_inertial['izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/base_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.30 0.30 0.30 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/base_link.STL" />
        </geometry>
      </collision>
    </link>
    <link
      name="${arm_prefix}_link1">
      <inertial>
        <origin
          xyz="${link1_mass_trans['x']} ${link1_mass_trans['y']} ${link1_mass_trans['z']}"
          rpy="${link1_mass_rot['r']} ${link1_mass_rot['p']} ${link1_mass_rot['y']}" />
        <mass value="${link1_mass}" />
        <inertia
          ixx="${link1_inertial['ixx']}"
          ixy="${link1_inertial['ixy']}"
          ixz="${link1_inertial['ixz']}"
          iyy="${link1_inertial['iyy']}"
          iyz="${link1_inertial['iyz']}"
          izz="${link1_inertial['izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/link1.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.30 0.30 0.30 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/link1.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="${arm_prefix}_joint1"
      type="revolute">
      <origin
        xyz="0 0 0.117"
        rpy="0 0 0" />
      <parent
        link="${arm_prefix}_base_link" />
      <child
        link="${arm_prefix}_link1" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="${sec_limits['joint1']['min_position']}"
        upper="${sec_limits['joint1']['max_position']}"
        effort="${sec_limits['joint1']['max_effort']}"
        velocity="${sec_limits['joint1']['max_velocity']}" />
      <dynamics
        damping="1"
        friction="0.1" />
    </joint>
    <link
      name="${arm_prefix}_link2">
      <inertial>
        <origin
          xyz="${link2_mass_trans['x']} ${link2_mass_trans['y']} ${link2_mass_trans['z']}"
          rpy="${link2_mass_rot['r']} ${link2_mass_rot['p']} ${link2_mass_rot['y']}" />
        <mass value="${link2_mass}" />
        <inertia
          ixx="${link2_inertial['ixx']}"
          ixy="${link2_inertial['ixy']}"
          ixz="${link2_inertial['ixz']}"
          iyy="${link2_inertial['iyy']}"
          iyz="${link2_inertial['iyz']}"
          izz="${link2_inertial['izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/link2.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.30 0.30 0.30 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/link2.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="${arm_prefix}_joint2"
      type="revolute">
      <origin
        xyz="0 0 0"
        rpy="-${pi/2.0} -${pi/2.0} 0" />
      <parent
        link="${arm_prefix}_link1" />
      <child
        link="${arm_prefix}_link2" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="${sec_limits['joint2']['min_position']}"
        upper="${sec_limits['joint2']['max_position']}"
        effort="${sec_limits['joint2']['max_effort']}"
        velocity="${sec_limits['joint2']['max_velocity']}" />
      <dynamics
        damping="1"
        friction="0.1" />
    </joint>
    <link
      name="${arm_prefix}_link3">
      <inertial>
        <origin
          xyz="${link3_mass_trans['x']} ${link3_mass_trans['y']} ${link3_mass_trans['z']}"
          rpy="${link3_mass_rot['r']} ${link3_mass_rot['p']} ${link3_mass_rot['y']}" />
        <mass value="${link3_mass}" />
        <inertia
          ixx="${link3_inertial['ixx']}"
          ixy="${link3_inertial['ixy']}"
          ixz="${link3_inertial['ixz']}"
          iyy="${link3_inertial['iyy']}"
          iyz="${link3_inertial['iyz']}"
          izz="${link3_inertial['izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/link3.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.30 0.30 0.30 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/link3.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="${arm_prefix}_joint3"
      type="revolute">
      <origin
        xyz="0.725 0 0"
        rpy="0 0 ${pi/2}" />
      <parent
        link="${arm_prefix}_link2" />
      <child
        link="${arm_prefix}_link3" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="${sec_limits['joint3']['min_position']}"
        upper="${sec_limits['joint3']['max_position']}"
        effort="${sec_limits['joint3']['max_effort']}"
        velocity="${sec_limits['joint3']['max_velocity']}" />
      <dynamics
        damping="1"
        friction="0.1" />
    </joint>
    <link
      name="${arm_prefix}_link4">
      <inertial>
        <origin
          xyz="${link4_mass_trans['x']} ${link4_mass_trans['y']} ${link4_mass_trans['z']}"
          rpy="${link4_mass_rot['r']} ${link4_mass_rot['p']} ${link4_mass_rot['y']}" />
        <mass value="${link4_mass}" />
        <inertia
          ixx="${link4_inertial['ixx']}"
          ixy="${link4_inertial['ixy']}"
          ixz="${link4_inertial['ixz']}"
          iyy="${link4_inertial['iyy']}"
          iyz="${link4_inertial['iyz']}"
          izz="${link4_inertial['izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/link4.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.30 0.30 0.30 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/link4.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="${arm_prefix}_joint4"
      type="revolute">
      <origin
        xyz="0 0 0"
        rpy="${pi/2.0} 0 0" />
      <parent
        link="${arm_prefix}_link3" />
      <child
        link="${arm_prefix}_link4" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="${sec_limits['joint4']['min_position']}"
        upper="${sec_limits['joint4']['max_position']}"
        effort="${sec_limits['joint4']['max_effort']}"
        velocity="${sec_limits['joint4']['max_velocity']}" />
      <dynamics
        damping="1"
        friction="0.1" />
    </joint>
    <link
      name="${arm_prefix}_link5">
      <inertial>
        <origin
          xyz="${link5_mass_trans['x']} ${link5_mass_trans['y']} ${link5_mass_trans['z']}"
          rpy="${link5_mass_rot['r']} ${link5_mass_rot['p']} ${link5_mass_rot['y']}" />
        <mass value="${link5_mass}" />
        <inertia
          ixx="${link5_inertial['ixx']}"
          ixy="${link5_inertial['ixy']}"
          ixz="${link5_inertial['ixz']}"
          iyy="${link5_inertial['iyy']}"
          iyz="${link5_inertial['iyz']}"
          izz="${link5_inertial['izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/link5.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.30 0.30 0.30 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/link5.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="${arm_prefix}_joint5"
      type="revolute">
      <origin
        xyz="0 0 0.675"
        rpy="-${pi/2.0} 0 0" />
      <parent
        link="${arm_prefix}_link4" />
      <child
        link="${arm_prefix}_link5" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="${sec_limits['joint5']['min_position']}"
        upper="${sec_limits['joint5']['max_position']}"
        effort="${sec_limits['joint5']['max_effort']}"
        velocity="${sec_limits['joint5']['max_velocity']}" />
      <dynamics
        damping="1"
        friction="0.1" />
    </joint>
    <link
      name="${arm_prefix}_link6">
      <inertial>
        <origin
          xyz="${link6_mass_trans['x']} ${link6_mass_trans['y']} ${link6_mass_trans['z']}"
          rpy="${link6_mass_rot['r']} ${link6_mass_rot['p']} ${link6_mass_rot['y']}" />
        <mass value="${link6_mass}" />
        <inertia
          ixx="${link6_inertial['ixx']}"
          ixy="${link6_inertial['ixy']}"
          ixz="${link6_inertial['ixz']}"
          iyy="${link6_inertial['iyy']}"
          iyz="${link6_inertial['iyz']}"
          izz="${link6_inertial['izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/link6.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.30 0.30 0.30 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ibt_ros2_description/meshes/${arm_type}/visual/link6.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="${arm_prefix}_joint6"
      type="revolute">
      <origin
        xyz="0 -0.3681 0"
        rpy="${pi/2.0} 0 0" />
      <parent
        link="${arm_prefix}_link5" />
      <child
        link="${arm_prefix}_link6" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="${sec_limits['joint6']['min_position']}"
        upper="${sec_limits['joint6']['max_position']}"
        effort="${sec_limits['joint6']['max_effort']}"
        velocity="${sec_limits['joint6']['max_velocity']}" />
      <dynamics
        damping="1"
        friction="0.1" />
    </joint>

  </xacro:macro>

</robot>