<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="amr">

    <!-- Arguments for robofox -->
    <xacro:arg name="arm_prefix" default="robofox" />
    <xacro:arg name="arm_type" default="robofox_61814v3" />
    <xacro:arg name="physical_params_file"
        default="$(find ibt_ros2_description)/config/$(arg arm_type)/physical_parameters.yaml" />
    <xacro:arg name="joint_limits_file"
        default="$(find ibt_ros2_description)/config/$(arg arm_type)/joint_limits.yaml" />
    <!-- Arguments for camera -->
    <xacro:arg name="camera_name" default="d435i" />
	<!--xacro:arg name="parent_frame" default="GRIPPER" /-->
    <!-- TODO: update position values -->
	<xacro:arg name="cam_pos_x" default="0" />
	<xacro:arg name="cam_pos_y" default="0.132" />
	<xacro:arg name="cam_pos_z" default="-0.06545" />
	<xacro:arg name="cam_roll" default="3.1416" />
	<xacro:arg name="cam_pitch" default="-1.5708" />
	<xacro:arg name="cam_yaw" default="1.5708" />
	<xacro:arg name="has_imu" default="false" />

    <!-- Amr combo base -->
    <xacro:include filename="$(find ibt_ros2_description)/xacro/amr/amr.xacro" />
    <!-- Robotic arm -->
    <xacro:include filename="$(find ibt_ros2_description)/xacro/robofox/robofox.xacro" />
    <!-- Grip exon -->
    <xacro:include filename="$(find grip_exon)/urdf/grip_exon.urdf.xacro" />
    <!-- Realsense camera -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro" />

    <!-- Instances -->
    <xacro:amr>
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:amr>

    <xacro:robofox
        arm_prefix="robofox"
        physical_params_file="$(arg physical_params_file)"
        joint_limits_file="$(arg joint_limits_file)"
        arm_type="$(arg arm_type)"
        connected_to="agv_link1"
    >
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
    </xacro:robofox>

    <xacro:grip_exon parent="robofox_link6">
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
    </xacro:grip_exon>

    <xacro:sensor_d435i
        name="$(arg camera_name)"
        parent="GRIPPER"
    >
        <origin xyz="$(arg cam_pos_x) $(arg cam_pos_y) $(arg cam_pos_z)" rpy="$(arg cam_roll) $(arg cam_pitch) $(arg cam_yaw)" />
    </xacro:sensor_d435i>

</robot>